<style>

    #hero{
        background: linear-gradient(#3a8ff7c8, #2382f6);
        overflow: hidden; 
        height: 64vh;
    }
    .headerText{
        color: white;
        font-weight: 600;
        font-size: 100px;
    }
    .headerText span{
        font-weight: 800;
    }
    p.headerParagraph{
        color: white;
        font-size: 20px;
        font-size: 20px;
    }
    .h1{
        color: white;
    }
    section.memoryBox{
      margin-top: 20px ;
    }
</style>
 
 
  <section id="hero" class="hero d-flex align-items-center section-bg memoryBox">
    <div  class="container">
      <div class="row justify-content-between gy-5">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <% if !user_signed_in? %>
            <h1 data-aos="fade-up" data-aos-delay="100"  class="headerText" ><span>Join <br> Now!</span></h1>
            <% else %>
            <h1 data-aos="fade-up" data-aos-delay="100"  class="headerText" ><span>Network of <br> CuriousMinds </span></h1>
          <% end %>
          <% if !user_signed_in? %>
          <p data-aos="fade-up" data-aos-delay="200" class="headerParagraph">Whether sharing your expertise, breaking news, or whatever’s on your mind, you’re in good company on wordSmith. Sign up to discover why people have published their passions here.</p>
          <% else %>
          <p data-aos="fade-up" data-aos-delay="200" class="headerParagraph">Anyone can write on wordSmith. Thought-leaders, journalists, experts, and individuals with unique perspectives share their thinking here. You’ll find pieces by independent writers from around the globe, stories we feature and leading authors, and smart takes on our own suite of blogs and publications.</p>
          <% end %>
          <% unless user_signed_in? %>
            <div data-aos="fade-up" data-aos-delay="200" class="headerButton">
              <%= link_to 'Login', user_session_path, class:'custom'%>
              <%= link_to 'Signup', new_user_registration_path, class:'custom'%>
            </div>
          <% end %>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          <%= image_tag('img/join.png', width: '580px', 'data-aos': "fade-up", 'data-aos-delay': "500")%>
        </div>
      </div>
    </div>
  </section>
  
  
  
  